@using PatientManager.Core.Application.ViewModels.Appointments
@model List<AppointmentViewModel>

@{
    ViewData["Title"] = "Appointment Maintenance";
}

<div class="d-flex flex-row justify-content-center mb-3">
    <a asp-controller="Appointment" asp-action="Create" class="">
        <i class="bi bi-plus-circle-fill btn-add" title="Add Appointment"></i>
    </a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-light-blue bg-gradient">
                    <h3 class="text-white text-center">Appointment Maintenance</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Doctor Name</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Rason</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appointment in Model)
                            {
                                <tr>
                                    <td>@appointment.PatientName</td>
                                    <td>@appointment.DoctorName</td>
                                    <td>@appointment.AppointmentDate</td>
                                    <td>@appointment.AppointmentTime</td>
                                    <td>@appointment.Reason</td>
                                    <td>@appointment.Status</td>
                                    <td>
                                        <div class="d-flex flex-row gap-4">
                                            @if (appointment.Status == "Pending consultation")
                                            {
                                                <a asp-controller="Appointment" asp-action="Consult" asp-route-id="@appointment.Id" class="btn btn-primary-custom">
                                                    Consult
                                                </a>
                                            }

                                            @if (appointment.Status == "Pending results")
                                            {
                                                <a asp-controller="Appointment" asp-action="ConsultResults" asp-route-id="@appointment.Id" class="btn btn-primary-custom">
                                                    Consult results
                                                </a>
                                            }

                                            @if (appointment.Status == "Completed")
                                            {
                                                <a asp-controller="Appointment" asp-action="ViewResults" asp-route-id="@appointment.Id" class="btn btn-primary-custom">
                                                    Watch results
                                                </a>
                                            }

                                            <a asp-controller="Appointment" asp-action="Remove" asp-route-id="@appointment.Id" class="btn">
                                                <i class="bi bi-trash3-fill btn-remove" title="Remove"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="6" class="text-center">No appointments available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
